<template lang="pug">
  v-app
    v-container(fluid='', grid-list-md='')
      v-layout(row)
        a(href='https://www.neo-soft.fr')
          img(alt='logo NéoSoft', src='../public/externe/logo-neo-soft.png')
      v-layout(row='', wrap='')
        template(v-for='encart in encarts')
          v-card#cadre
            v-toolbar(:color='encart.couleur', dark='')
              v-toolbar-title {{encart.nom}}
              v-spacer
              v-btn(icon, :href='encart.lien')
                <!-- liste des icones disponibes : https://material.io/tools/icons/ -->
                v-icon {{encart.icone}}
            v-list()
              v-list-tile(v-for='item in encart.liste', :key='item.intitule', @click='', :href='item.lien')
                  v-list-tile-title(v-html='item.intitule')

</template>

<script>
import json from "../public/externe/db.json";
export default {
  data() {
    return {
      encarts: json.encarts
    };
  }
};
</script>

<style lang="scss">
#cadre {
  margin-bottom: 2vh;
  margin-right: 2vh;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
img {
  height: 97px;
  width: 215px;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
a {
  margin-left: auto;
  margin-right: auto;
}
</style>
